.container {
  width: 970px;
}

#change_password {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 25px;
  box-sizing: border-box;
  padding: 20px;
}

#change_password_title {
  text-align: center;
}

#change_password_body {
  width: 100%;
  margin: 0 auto;
}

#change_password_announcement {
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px;
}

#change_password_form {
  width:500px;
  margin:50px 0;
}

#change_password_form input{
  width: 300px;
  height: 30px;
}

#change_password_form button {
  width: 315px;
  height: 50px;
}
