/* @/styles/login/projects/tagcloud.css */

/* Container for the entire tag block */
.tag-contents {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
} 
.tag-contents__list { min-height: 230px; }

/* Tag */
.tag-contents__item {
  display: inline-block;
  margin-right: 4px;
}
.tag-contents__tag {
  color: #181818;
  text-decoration: none;
  &:hover { color: #ffffff; background-color: #6d6d6d; }
}

/* Tag size modifiers based on frequency */
.tag-contents__tag--sm { font-size: 1em; }
.tag-contents__tag--md { font-size: 1.2em; }
.tag-contents__tag--lg { font-size: 1.4em; font-weight: bold; }
.tag-contents__tag--xl { font-size: 1.6em; font-weight: bolder; }
/* Separator between tags */
.tag-contents__bar { margin: 1px; }

/* Container for the search */
.tag-contents__search {
  width: 100%;
  margin: 5px 0;
  display: flex;
  gap: 3px;
}

/* Search input field */
.tag-contents__input {
  height: 30px;
  min-width: 60px;
  flex: 3;

  padding: 5px;
  margin: 0;

  background: #bcbcbc;
  border: 1px solid #888;
  box-shadow: inset 0 0 10px rgba(255, 255, 190, 0.43);
  border-radius: 0;
}

/* Search button */
.tag-contents__button {
  height: 30px;
  width: 80px;
  flex: 1;

  background: #454545;
  box-shadow: none;
  color: #ffffff;
  border: 1px solid black;

  font-weight: bold;
  cursor: pointer;

  &:hover { background-color: #5a5a5a; }
}