#board_list_content h4 {
  float: left;
  margin: 0;
  line-height: 30px;
  font-size: 14px;
}

.list_switch {
  float: right;
  margin-right: 10px;
  line-height: 30px;
  cursor: pointer;
}

#working_study_list, #pending_study_list {
  clear: both;
}

#new_study_title h3, #edit_study_title h3 {
  margin: 0;
  font-size: 20px;
}

#new_study_form, #edit_study_form{
  padding: 40px;
}

.controls input[type=text], .controls input[type=date] , .controls textarea {
  width:280px;
}

.thumbnail {
  width:130px;
  height:130px;
  margin:10px 0;
}

.thumbnail img {
  width:auto;
  margin:0;
}

.control-label.thumbnail_label {
  height:130px;
  line-height:130px;
}

#members {
  width: 295px;
}

.chosen-container-multi .chosen-results {
  max-height: 80px;
}

.write {
}

.write button {
  width: 300px;
  margin-left: 180px;
  padding: 10px;
}
