/* @/styles/components/project/project-sidebar.css */

/**
 * @author Serius
 * @lastModified 2025-05-16
**/


.project-sidebar__list { margin: 0; padding: 0;}
.project-sidebar__item {
  list-style-type: none;
  font-weight: bold;
}

/* Project link */
.project-sidebar__link {
  color: #181818;
  text-decoration: none;
  &:hover { color: #ffffff; background-color: #6d6d6d; }
}

.project-sidebar__badge {
  margin-left: 5px;
  color: red;
}