/* @/styles/components/project/project-pending.css */

.project-year-list {
  width: 100%;
  margin: 0 auto 30px auto;
  box-sizing: border-box;
  padding: 20px 30px 20px 30px;
  
  background: #bcbcbc;
  box-shadow: 1px 1px 1px black;
  display: block;
}

.project-year-list__title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.project-year-list__sepeator{
  font-size: 14px;
  padding: 0 10px;
}
.project-year-list__year {
  line-height: 25px;
  font-size: 14px;
  padding: 0 10px;
  cursor: pointer;
}