/* @/styles/components/project/project-card.css */

.project-card {
  display: flex;
  flex-direction: column;

  width: 355px;
  min-height: 225px;
  box-sizing: border-box;
  padding: 10px 20px 10px 10px;
  
  background: #bcbcbc;
  box-shadow: 1px 1px 1px black;
}

.project-card__information { flex: 1; }
.project-card__thumbnail-box {
  float: left;
  width: 128px;
  height: 128px;
  margin: 0 10px 10px 10px;
  line-height: 128px;
  text-align: center;
}
.project-card__thumbnail-image { vertical-align: middle;}

.project-card__title {
  margin: 0;
  box-sizing: border-box;
  padding: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.project-card__genre
.project-card__date
.project-card__member
.project-card__member-box {
  text-align: left;
  font-size: 12px;
}
.project-card__genre {
  margin: 0;
  font-weight: bold;
}
.project-card__intro { clear: both; }

.project-card__tag-box {
  margin: 5px 0px;
  font-size: 10px;
}
.project-card__tag {
  padding: 0 5px;
}

.project-card__tag-button {
  padding: 1px 2px;
  font-size: 12px;
}

.controls input {
  width: 65px;
  height: 20px;
  margin: 10px 0px;
}

.project_manage {
  text-align: right;
  font-size: 12px;
}

.leave {
  cursor: pointer;
  color: #181818;
}

#project_error {
  width: 940px;
  height: ;
  margin: 20px 0 200px 0;
  box-sizing: border-box;
  padding: 100px 50px;
}

#project_error p {
  font-size: 20px;
}
